---
dist: xenial
language: python
python: "3.7"
sudo: required
services:
  - docker
install:
  - pip install pipenv
  - pipenv sync
env:
  matrix:
    - MOLECULE_DISTRO: debian9
script:
  - export MOLECULE_DISTRO=${MOLECULE_DISTRO}
  - pipenv run molecule test

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
