{{ ansible_managed | comment }}
[Unit]
Description=prometheus mysqld exporter
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp={{ mysqld_exporter_private_tmp }}
User={{ mysqld_exporter_user }}
Group={{ mysqld_exporter_group }}
RuntimeDirectory=mysqld_exporter
Type=simple
ExecStart={{ mysqld_exporter_bin_path }}/mysqld_exporter {% for option in mysqld_exporter_options %}--{{ option }} {% endfor %}

StandardOutput={{ mysqld_exporter_log_output }}
StandardError={{ mysqld_exporter_log_output }}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM
Restart=always

[Install]
WantedBy=multi-user.target
