{{ ansible_managed | comment }}
[Unit]
Description=prometheus mysqld exporter
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp=yes
User={{ mysqld_exporter_user }}
Group={{ mysqld_exporter_group }}
RuntimeDirectory=mysqld_exporter
Type=simple
Restart=always
ExecStart=/bin/sh -c "{{ mysqld_exporter_bin_path }}/mysqld_exporter {% for option in mysqld_exporter_options %}--{{ option }} {% endfor %} > {{ mysqld_exporter_log_path }}/{{ mysqld_exporter_log_file }} 2>&1"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
